* {
    margin: 10px;
}

#container {
    width: 80%;
}

h1 {
    font-size: 32px;
    padding: 0px;
}

p {
    position: static;
    border: 2px solid red;
    width: 500px;
    height: 150px;
}

p:nth-child(4) {
    border: 2px solid blue;
    position: absolute;
    top: 222px;
    left: 530px;
}