h4 {
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.1em;
	color: rgb(150,150,170);
	text-shadow: 1px 1px 1px lightgray;		
}

.placeholder {
	padding: 0.2em;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	width: 120px;
}

li a {
	font-family: Arial, Verdana, sans-serif;
	font-size: 1em;
	display: block;
	text-decoration: none;
	color: black;
	background-color: lightgray;
	border-top: 1px solid rgb(240,240,240);
	border-right: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	padding: 5px 10px;
}

li a:hover {
	background-color: silver;
	border-top: 1px solid lightgray;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}