body {
    	background-color: rgb(245,245,245);
}

#Platzhalter {
	margin-top: 20px;
}

#Absatz1 {
	margin-bottom: 50px;
	width: 30%;
	min-width: 200px;
	height: 10em;
	overflow: scroll;
	padding: 1em;
	border: 1px solid black;
	margin: 10px 20px 30px 20px;
	box-sizing: border-box;
}

#Absatz2 {

}

h1 {
    	color: red;
	text-shadow: 2px 1px 1px gray;
}

h2 {
	margin-top: 50px;
}

p{

    	font-size: 1.1em;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 5px;
	width: 200px;
	background-color: rgb(235,235,235);
}

li {
	padding: 5px;
}

li:hover {
	background-color: rgb(210,210,210);
}

a {
	text-decoration: none;
}

a:link {
    	color:black;
}

a:visited{
    	color:brown;
}

h1:hover {
    	background-color: aqua;
}

form fieldset {
	width: 40%;
	min-width: 450px;
}

form input {
	margin-top: 1em;	
}

table, th, td {

	padding: 7px 10px 10px 10px;
}

th~th {
	text-transform: uppercase;
	border-top: 1px solid rgb(230, 230, 230);
	border-bottom: 1px solid black;
}

table {
	margin: 1em;
	border-collapse: collapse;
}

table tr:nth-of-type(2n) {
	background-color: rgb(240, 240, 240);
}