
#test:hover {color: yellow;}
li a {color:blue;}
#body #article02 a:visited {color:red;}
#body #article02 li>a:link {color:orange;}
#article02 a:hover {color: yellow;}
#article02 a {color:green;} 

.center {color:violet;}

p.center {color:springgreen;}

p>span.important {color:tomato;}

span.important {color:maroon;}

#wrapper>#body>#article03 span 
{
	background-color:red; 
	color:white;
}
